.card {
    width: 15vw;
    height: 50vh;
    margin-bottom: 10px;
}

.cardHover {
    transform: scale3d(130%, 130%, 1);
    background-color: grey;
}

.divNotHover {
    visibility: hidden;
}

.flag {
    max-height: 50%;
    max-width: 100%;
}

.dataDiv {
    display: flex;
    justify-content: space-around;
}