.card {
    width: 15vw;
    height: 50vh;
    margin-bottom: -150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
}

.cardHover {
    transform: scale3d(130%, 130%, 1);
    background-color: grey;
}

.divNotHover {
    visibility: hidden;
}

.titleDiv {
    height: 30%;
}

.flag {
    max-height: 40%;
    max-width: 100%;
}

.dataDiv {
    height: 30%;
    display: flex;
    justify-content: space-around;
}